# -- Build -----------------------------------------
build/css
build/js
 
# -- npm -----------------------------------------
node_modules
 
 
# -- Editores -----------------------------------------
 
# phpstorm
.idea/
 
# sublimetext
/*.sublime-project
*.sublime-workspace
 

# -- Sistemas Operativos ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
 
# Linux
.*
!.gitignore
!.htaccess
*~
 
# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes